/*Start Globals Styles*/
:root {
--rich-black: #001524ff;
--ming: #15616dff;
--blanched-almond: #ffecd1ff;
--amber-sae-ece: #ff7d00ff;
--kobe: #78290fff;
}

nav{

    background-color: var(--rich-black);
    color: var(--blanched-almond);
}

body {
    background-color: var(--ming) !important;
    font-family: 'Alice', serif !important;
    font-family: 'Gorditas', cursive !important;
    font-family: 'Special Elite', cursive !important;
}

#offcanvasSearch {

    max-width: 80vw;
}

.currentCityBox{
    background-color: var(--blanched-almond);
}

.currentCityBox h3{
    margin: auto;
    width: 85vw;
    margin-bottom: 5px;
    margin-top: 5px;

}

.currentCityBox ul li{
    margin: auto;
    width: 85vw;
    margin-bottom: 10px;
}

.searchContainer {
    background-color: var(--blanched-almond);
    display: block;
    height: 100vh;
}

.mainSearchButton{ 
    background-color: var(--kobe) !important;
    color: var(--blanched-almond) !important;
    width: 90vw;
    margin: auto;
}


/* .fiveDay {
    margin-top:10px;
    width: 80vw;
    background-color: var(--kobe) !important;
    color: var(--blanched-almond);
   
} */




.container-fluid{
 
}

.fiveDay{
    padding: 10px; 
    margin-top:10px;
    width: 100%;
    background-color: var(--kobe) !important;
    color: var(--blanched-almond);
}


.card.mt-3.col-lg-2{
 
    background-color: var(--ming) !important;
    margin-bottom: 10px;
    }

.card-title{
    display: flex;
    flex-flow: column-wrap;
    justify-content: center;
}

.card-header{
    margin-top: 5px;
    background-color: var(--rich-black) !important;
}

li.list-group-item{

    width:105%;
    background-color: var(--blanched-almond);

}